@import url("Clear-Sans.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "clear_sansregular", sans-serif;
}

body {
  background-color: #333;
  display: flex;
  position: relative;
  height: 100vh;
  margin: 0;
  font-size: 2.75vw;
}

.header {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  align-items: center;
  display: flex;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
}

#scoreContainer {
  text-align: center;
  font-family: "clear_sans_lightregular", arial;
  position: relative;
  font-size: 1.5vw;
  margin: 0;
  background-color: #AAA;
  border-radius: 0.5vw;
  padding: .1vw .35vw;
}

#score, #hightScore {
  font-family: "clear_sansbold", arial;
}

#hightScoreContaier{
  text-align: center;
  font-family: "clear_sans_lightregular", arial;
  position: relative;
  font-size: 1.5vw;
  right: 0vw;
  margin: 0;
  background-color: #AAA;
  border-radius: 0.5vw;
  padding: .1vw .35vw;
}



#title {
  text-align: center;
  position: relative;
  margin: 0 auto;
  color: #AAA;
  font-size: 4vw;
}

#game-board {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #CCC;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

.quests {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  
  position: absolute;
  left: 2vw;
  top: 50vh;
  transform: translateY(-50%);
  background-color: #aaa;
  border-radius: 3vmin;
  padding: 0 1.5vmin;
  text-align: center;
  font-family: "clear_sansbold", arial;
  font-size: 4vw;
  width: 25vw;
}

#questTxt{
  font-family: "clear_sansregular", arial;
  margin: 1vmin 0;
  font-size: 2vw;
}

#dificulty {
  font-family: "clear_sansbold", arial;
  margin: 1vmin auto;
  font-size: 2.5vw;
}

#dificultyLevel {
  font-family: "clear_sans_mediumregular";
  color: #19A328;
}
#price, #roundsLeft {
  font-family: "clear_sansbold", arial;
}

#gameEnd {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  height: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  background-color: rgba(129, 129, 129, 0.7);
  z-index: -1;
  border-radius: 1vmin;
}

.gameEndAnim {
  animation: gameOver 300ms forwards;
}

#retry {
  font-size: 2.5vw;
  border: none;
  padding: 0.5vw;
  border-radius: 0.5vw;
  background-color: #AAA;
  box-shadow: .15vw .15vw .25vw rgba(0, 0, 0, 0.2);
}

#retry:hover {
  background-color: rgb(160, 160, 160);
  box-shadow: .25vw .25vw .25vw rgba(0, 0, 0, 0.3);
}

#gameOverText {
  color: rgb(29, 29, 29);
  text-align: center;
  font-weight: bold;
}

#titleScore {
  font-weight: normal;
  height: 4vw;
}

.titleScore::after {
  content: "";
  animation: titleScore 3s forwards;
}

.howToPlay {
  border-top: 0.5vh solid #AAA;
  border-bottom: 0.5vw solid #AAA;
  position: absolute;
  font-family: "clear_sansbold", arial;
  border-radius: 1vmin;
  text-align: center;
  font-size: 2vw;
  background-color: #AAA;
  width: 27vw;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
}

#htpText {
  margin: 0 2vmin;
  text-align: justify;
  font-size: 1vw;
  font-family: "clear_sans_mediumregular", arial;
}


@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

@keyframes titleScore {
  0% {
    opacity: 0;
  }

  10%,
  29% {
    content: ".";
    opacity: 1;
  }

  30%,
  49% {
    content: "..";
  }

  50%,
  69% {
    content: "...";
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
    content: var(--over-title);
  }

  100% {
    opacity: 1;
    content: var(--over-title);
  }

}

@keyframes gameOver {
  0% {
    opacity: .5;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}