@import url("Clear-Sans.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "clear_sansregular", sans-serif;
}

body {
  background-color: #333;
  display: flex;
  position: relative;
  height: 100vh;
  margin: 0;
  font-size: 4.5vmin;
}

.header {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

#scoreContainer {
  text-align: center;
  font-family: "clear_sans_lightregular";
  position: absolute;
  font-size: 6vmin;
  top: 16.5%;
  left: 78%;
  transform: translate(-50%);
  margin-top: 1vmin;
  background-color: #AAA;
  border-radius: 1.5vmin;
  padding: .2vmin .7vmin;
}

#score {
  font-family: "clear_sansbold";
  font-size: 7vmin;
}

#title {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;

  text-align: center;
  color: #AAA;
  font-size: 13vmin;
}

.swipeArea {
  position: absolute;
  width: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  height: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  z-index: 1000;
}

#game-board {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #CCC;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

.quests {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  position: absolute;
  right: 62%;
  bottom: 70%;
  transform: translate(50%);
  background-color: #aaa;
  border-radius: 3vmin;
  padding: 0 1.5vmin;
  text-align: center;
  font-family: "clear_sansbold";
  font-size: 6vmin;
  width: 50vmin;
}

#questTxt {
  font-family: "clear_sansregular";
  margin: 1vmin 0;
  font-size: 3vmin;
}

#dificulty {
  font-family: "clear_sansbold";
  margin: 1vmin auto;
  font-size: 5vmin;
}

#dificultyLevel {
  font-family: "clear_sans_mediumregular";
  color: #19A328;
}

#price,
#roundsLeft {
  font-family: "clear_sansbold";
}

#gameEnd {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  height: calc(var(--grid-size) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  background-color: rgba(129, 129, 129, 0.7);
  z-index: -1;
  border-radius: 1vmin;
}

.gameEndAnim {
  animation: gameOver 300ms forwards;
}

#retry {
  font-size: 5vmin;
  border: none;
  padding: 1vmin;
  border-radius: 1vmin;
  background-color: #AAA;
  box-shadow: .3vmin .3vmin 0.5vmin rgba(0, 0, 0, 0.2);
}

#retry:hover {
  background-color: rgb(160, 160, 160);
  box-shadow: .5vmin .5vmin 0.5vmin rgba(0, 0, 0, 0.3);
}

#gameOverText {
  color: rgb(29, 29, 29);
  text-align: center;
  font-weight: bold;
}

#titleScore {
  font-weight: normal;
  height: 8vmin;
}

.titleScore::after {
  content: "";
  animation: titleScore 3s forwards;
}

.howToPlay { 
  text-align: center;
  position: absolute;
  font-size: 6vmin;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  color: #aaa;
  border-radius: 1vmin;
  width: 100%;
  font-family: "clear_sansbold";
}

#htpText {
  font-size: 3vmin;
  font-family: "clear_sansregular";
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

@keyframes titleScore {
  0% {
    opacity: 0;
  }

  10%,
  29% {
    content: ".";
    opacity: 1;
  }

  30%,
  49% {
    content: "..";
  }

  50%,
  69% {
    content: "...";
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
    content: var(--over-title);
  }

  100% {
    opacity: 1;
    content: var(--over-title);
  }

}

@keyframes gameOver {
  0% {
    opacity: .5;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}